* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body{
 background: linear-gradient(53deg,#ccfffc,#ffcccf)
}

.form {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.19);
  
}


.errorMassage{
  visibility: hidden;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  
}

.gender{
  background: #f1f1f1;
  height: fit-content;
  border-color: #04aa6d;
}

button {
  background-color: #04aa6d;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

button:hover {
  color: azure;
  opacity: 1;
}

a:hover {
  color: dodgerblue;
}



:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border: 1px solid red;
}

.form-field.success input {
    border: 1px solid green;

.form-field small {
    color: red;
}
