* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.container {
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
}

.container {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.19);
}

input[type="text"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 25px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #04aa6d;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

button:hover {
  color: azure;
  opacity: 1;
}

a:hover {
  color: dodgerblue;
}

/* .username::before {
  background-color: #04aa6d;
  content: "";
  width: 30px;
  height: 50px;
  border: 2px solid red;
}

.username::after {
  background-color: #04aa6d;
  content: "";
  width: 30px;
  height: 50px;
  border: 2px solid rgb(27, 2, 247);
} */

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
