* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}



body{
 background: linear-gradient(53deg,#ccfffc,#ffcccf)
}

.form {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.19);
  
}

/* .icon{
  position: absolute;
  position: relative;
  
  
} */
.errorMassage{
  visibility: hidden;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  
}

.gender{
  background: #f1f1f1;
  height: fit-content;
  border-color: #04aa6d;
}

button {
  background-color: #04aa6d;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

button:hover {
  color: azure;
  opacity: 1;
}

a:hover {
  color: dodgerblue;
}


.form-field.error input {
    border-color: red;
}

.form-field.success input {
    border-color: green;
}

.form-field small {
    color: red;
}

.form-field input {
    border: solid 1px #ddd;
    
}

/* .username::before {
  background-color: #04aa6d;
  content: "";
  width: 30px;
  height: 50px;
  border: 2px solid red;
}

.username::after {
  background-color: #04aa6d;
  content: "";
  width: 30px;
  height: 50px;
  border: 2px solid rgb(27, 2, 247);
} */

